html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f5f5f5 !important;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.CENTER {
  transform: translate(-50%, -50%);
  position: fixed;
  left: 50%;
  top: 50%;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
  width: 350px;
  margin: auto;
  height: 100%;
  width: 100%;
}

.form-signin .form-control {
  box-sizing: border-box;
  position: relative;
  font-size: 16px;
  padding: 10px;
  height: auto;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}

.feather {
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
}

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 48px 0 0;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  top: 0;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
  font-size: 1rem;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.nav-link:hover {
  font-size: 1.1rem;
  color: black;
}

.sidebar-heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.navbar-brand {
  font-size: 1.1rem !important;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.form-control-dark:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
  border-color: transparent;
}

.carousel-indicators li {
  background-color: black !important;
}

.dropContainer {
  position: relative;
}

.dropIMG {
  min-width: 107%;
  width: 107%;
}

.dropText {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 24px;
  padding-right: 20px;
  position: absolute;
  padding-top: 10px;
  color: white;
  z-index: 99;
  left: 20px;
  top: 15px;
}

.img40 {
  min-height: 40px !important;
  height: 40px !important;
}

.img50 {
  min-height: 50px !important;
  height: 50px !important;
}

.img80 {
  min-height: 80px !important;
  height: 80px !important;
}

.pointer:hover {
  cursor: pointer;
}
